
<html>
<head>
  <title>Photogram</title>
  <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  <script src="/assets/application-10ae9348133c44590cf059bf8209124a94861ffcdd12b0642fc4b33b072cad4d.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="hIHKU0uWcM7OGkPmWLpm1e113QzKzOptqglLnIAwCjfc4i+UnD6PA1J3jw7NAqBJlVb370GHMMaZsKpqhxji8Q==" />
</head>
<body>

<h1>Photo Details</h1>

<img src="<%= @photo_source %>" width="720">

<p><%= @photo_caption %></p>

<a href="/photos">Back</a>
<a href="/photos/49/edit">Edit</a>
<a href="/delete_photo/49">Delete</a>


</body>
</html>
